.sectionMain__side-bar {
    display: flex;
    position: absolute;
    left: 10px;
}

.sectionMain__bg-img {
    display: flex;
    justify-content: center;
    margin: 44px 0 32px 0;
    width: 100%;
}

.sectionMain__bg-img img {
    height: 192px;
    width: 100%;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--mainColor);
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--secondColor);
    line-height: 36px;
}



@media (min-width: 768px) {
    .container {
        margin: 0 125px;
    }

    .wrapper {
        margin: 0;
        padding: 0 364px 0 0;
    }
}

@media (min-width: 1200px) {

    .sectionMain__side-bar {
        display: flex;
    }

    .side-bar__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--mainColor);
        width: 348px;
        position: fixed;
        height: 100%;
        right: 0;
        overflow: auto;
    }

    .sectionMain__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
    }

    .sectionMain__logo-img {
        margin: 0 0 39px 0;
    }

    .sectionMain__logo-img img {
        border-radius: 100%;
        height: 139px;
        width: 139px;
    }

    .sectionMain__title a {
        color: var(--thirdColor);
        font-family: "Lato", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 28px;
    }

    .sectionMain__desc {
        margin: 18px 0 0 0;
    }

    .sectionMain__desc p {
        color: var(--descColor);
        text-align: center;
        font-family: "Lato", sans-serif;
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .sectionMain__nav {
        display: flex;
        justify-content: center;
    }

    .sectionMain__nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 55px;
        width: 100%;
    }

    .sectionMain__nav__list :nth-child(n+2) {
        border-top: 2px solid var(--mainColorBorderTop);
    }

    .sectionMain__nav__item {
        text-align: center;
        width: 100%;
    }

    .sectionMain__nav__item a {
        color: var(--thirdColor);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        width: 100%;
    }

    .sectionMain__social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px;
    }

    .sectionMain__social-media__list {
        display: flex;
        flex-direction: row;
    }

    .sectionMain__social-media__list a:nth-child(-n+4) {
        margin: 0 17px 0 0;
    }

    .sectionMain__social-media__list a {
        opacity: 80%;
    }

    .sectionMain__social-media__list a:hover {
        opacity: 100%;
    }

    .sectionMain__social-media__item img {
        height: 21px;
        width: 21px;
    }

    .sectionMain__bg-img {
        display: flex;
        margin: 0 0 32px 0;
        height: 100%;
        width: 100%;
    }

    .sectionMain__bg-img img {
        height: 346px;
        width: 100%;
    }

    .wrapper {
        padding: 0 364px 0 0;

    }

    .title {
        font-family: "Lato", sans-serif;
        font-size: 60px;
        font-weight: 700;
        color: var(--mainColor);
    }

    .subtitle {
        font-family: "Lato", sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: var(--secondColor);
        line-height: 34px;
    }
}